/* Colors:

Green: #B9BC28
Orange: #FF9754
Pink: #FE778B
Lt. Green: #ECE37C
Lt. Orange: #FBC734
Coral: #FF7993
Bright Pink: #EC6199
Dark Gray: #8B8B8B
Lt. Gray: B4B4B4


*/

body {
  width: 960px;
  background-color: rgb(255, 255, 255);
   position: fixed;
}

.landing-container {
  background-image: url("logoredo.png");
  margin-top: 2rem;
  padding-bottom: 10rem;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left center;
}

.login-container {
  /* border: 2px solid #B4B4B4; */
  overflow: hidden;

  height: 20rem;
  margin-top: 7rem;
  margin-left: 35rem;
}
