/* Colors:

Green: #B9BC28
Orange: #FF9754
Pink: #FE778B
Lt. Green: #ECE37C
Lt. Orange: #FBC734
Coral: #FF7993
Bright Pink: #EC6199
Dark Gray: #8B8B8B
Lt. Gray: B4B4B4


*/

.navbar {
  border-bottom: 1px solid #8b8b8b;
}

.strap-nav {
  width: 100%;
  margin: 0;
  float: left;
}

h4 {
  font-size: 1rem;
  letter-spacing: 0rem;

}

.ml-auto {
  margin-top: 2rem;
}

.logo {
  float: left;
  margin-bottom: -1.5rem;
  width: 17rem;
}

.nav-link {
  margin-bottom: -1rem;
  
}

h4:hover {
  color: #ff7993;
  
}
